.challengeBoxContainer {
    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 4rem;
    padding: 1.5rem 2rem;
    text-align: center;
}
.challengeNotActive {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
}

.challengeNotActive strong {
    /* flex: 1 0 100%; */
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 3rem;
    text-align: center;

}

.challengeNotActive p {
    display: flex;
    max-width: 80%;
    line-height: 1.5;

    align-items: center;
}
.challengeNotActive img {
    width: 2rem;
    margin-right: 1rem;
    flex-shrink: 1;
}


.challengeActive {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.challengeActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.challengeActive main strong {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.33;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}
.challengeActive main p {
    line-height: 1.625;
}

.challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.challengeActive footer button {
    border: 0;
    border-radius: 5px;

    font: 500 1rem "Inter", sans-serif;

    background: var(--green);
    color: var(--white);

    padding: .75rem;
    transition: .2s;
}
.challengeActive footer button.challengeFailedButton {
    background: var(--red);
}

.challengeActive footer button:hover {
    /* background: linear-gradient(#0002, #0002); */
    filter: brightness(.8) contrast(1.3);
}